// Styling for the masthead
header.masthead {
  text-align: center;
  color: #ffffff;
  background-image: url("../img/header/0001.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
  transition: all 1.2s linear;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      opacity: 1.0;
      font-size: 40px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include script-font;
    }
    .intro-heading {
      font-size: 22px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include script-font;
      font-style: italic;
    }
  }
}


@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 75px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include script-font;
      }
      .intro-heading {
        font-size: 40px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include script-font;
        font-style: italic;
      }
    }
  }
}
